    <footer class="page-footer">
        <div class="container center">
            © 2019 Copyright FoxBuka 
        </div>
    </footer>
</body>
    <script src="https://kit.fontawesome.com/346f00e4ed.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/materialize.js"></script>
    <script src="/js/main.js"></script>
     <script src="/js/render.js"></script>
</html>