<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/materialize.css">
    <link href="/css/main.css" type="text/css" rel="stylesheet"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>Avito</title>
</head>
<body>
<div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">

                <div class="container">
                    <a href="!#" class="brand-logo"><img class="image-logo" src="./images/avito_logo.png" /></a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"> <i class="fas fa-list-alt"> </i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Категории <i
                                    class="fas fa-list-alt"> </i></a></li>
                        <ul id="dropdown1" class="dropdown-content">
                            <li><a href="javascript:{}" onclick="getType(this.id);" id="all">Все категории</a></li>
                            <li><a href="javascript:{}" onclick="getType(this.id);" id="auto">Автомобили</a></li>
                            <li><a href="javascript:{}" onclick="getType(this.id);" id="immovable">Недвижимость</a></li>
                            <li><a href="javascript:{}" onclick="getType(this.id);" id="cameras">Фото</a></li>
                            <li><a href="javascript:{}" onclick="getType(this.id);" id="laptops">Ноутбуки</a></li>
                        </ul>
                        
                    </ul>
                </div>
            </div>
            <div class="menu container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="menu-items col s3 m3 ">
                                <div class="container"> 
                                        <input type="search" placeholder="Поиск" class="search" oninput="search(event)"/>
                                </div>
                        </div>

                        <div class="col s9 m9">
                            <div class="right">
                                <label>
                                        <input class="with-gap" id="usual" name="group1" type="radio" checked />
                                        <span>Все</span>
                                    </label>
        
                                    <label>
                                        <input class="with-gap" id="raitingSort" name="group1" type="radio" />
                                        <span>Рейтинг</i></span>
                                    </label>
        
                                    <label>
                                        <input class="with-gap" id="priceSort" name="group1" type="radio" />
                                        <span>Цена</i></span>
                                    </label>
                                    <label>
                                        <input class="with-gap" id="view_favorites" name="group1" type="radio" />
                                        <span>Выбор</span>
                                    </label> 
                                </div>   
                           
                        </div>
                    </div>    
                </div>
            </div>
    </div>
    </nav>
    </div>
    <ul class="sidenav" id="mobile-demo">
        <ul class="collapsible">
            <li>
            <div class="collapsible-header"> <i class="fas fa-list-alt">  </i> Категории </div>
            <div class="collapsible-body">
                <ul>
                    <li><a href="javascript:{}" onclick="getType(this.id);" id ="all" >Все категории</a></li>
                    <li><a href="javascript:{}" onclick="getType(this.id);" id ="auto">Автомобили</a></li>
                    <li><a href="javascript:{}" onclick="getType(this.id);" id ="immovable">Недвижимость</a></li>
                    <li><a href="javascript:{}" onclick="getType(this.id);" id ="cameras">Фото</a></li>
                    <li><a href="javascript:{}" onclick="getType(this.id);" id ="laptops">Ноутбуки</a></li>
                </ul>
            </li>
        <div class="collapsible-header"> <span id="view_favorites"> <i class="fas fa-briefcase"></i> Избранное  </span></div>
    </ul>    
  </ul>
          
          
            