<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="/css/main.css" type="text/css" rel="stylesheet"/>
    <title>Avito</title>
</head>
<body>
<nav>
    <div class="nav-wrapper">
    <div class="container">
      <a href="/" class="brand-logo"><img class="image-logo" src="./images/avito_logo.png"/></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
          
         <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Категории</a></li>
          <ul id="dropdown1" class="dropdown-content">
            <li  class="new-type"><a href="#!">Все категории</a></li>
            <li  class="new-type"><a href="#!">Автомобили</a></li>
            <li  class="new-type"><a href="#!">Недвижимость</a></li>
            <li  class="new-type"><a href="#!">Фото</a></li>
            <li  class="new-type"><a href="#!">Ноутбуки</a></li>
        </ul>
        
      </ul>
      </div>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
  </ul>
          
            