<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/materialize.css">
    <link href="/css/main.css" type="text/css" rel="stylesheet"/>
    <title>Avito</title>
</head>
<body>
<div class="navbar-fixed">
<nav>
    <div class="nav-wrapper">
    <div class="container">
      <a href="/" class="brand-logo"><img class="image-logo" src="./images/avito_logo.png"/></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
         <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Категории  <i class="fas fa-list-alt">  </i></a></li>
          <ul id="dropdown1" class="dropdown-content">
            <li><a href="javascript:{}" onclick="getType(this.id);" id ="all" >Все категории</a></li>
            <li><a href="javascript:{}" onclick="getType(this.id);" id ="auto">Автомобили</a></li>
            <li><a href="javascript:{}" onclick="getType(this.id);" id ="immovable">Недвижимость</a></li>
            <li><a href="javascript:{}" onclick="getType(this.id);" id ="cameras">Фото</a></li>
            <li><a href="javascript:{}" onclick="getType(this.id);" id ="laptops">Ноутбуки</a></li>
        </ul>
         <li><a href="#!">  Избранное  <i class="fas fa-briefcase"></i></a></li>
      </ul>
      </div>
    </div>
    <div class="menu container-fluid">
    <div class="container">
    <div class="row">
        <div class="menu-items col s12 m4">
            <label>
                <input class="with-gap" class="sort-type" id="usual" name="group1" type="radio" checked />
                <span>Обычный</span>
            </label>

            <label>
                <input class="with-gap" class="sort-type" id="raitingSort" name="group1" type="radio" />
                <span>Рейтинг</span>
            </label>
                            
            <label>
                <input class="with-gap" class="sort-type" id="priceSort"  name="group1" type="radio" />
                <span>Цена</span>
            </label>    
        </div>
         <div class="col s12 m8">
        
                 <div class="input-field col s4">
                    <input  type="number" placeholder="Мин. сумма" name='min' id="min" value />
                </div>
                <div class="input-field col s4">
                    
                    <input  id="max" type="number" placeholder="Макс. сумма"  name='max' value/>             
                </div>
                <button id="range">Искать</button>
                </div>
         </div>
        </div>
   </div>
</div>
  </nav>
  </div>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
  </ul>
          
            