 <%- include('./layouts/navbar.ejs')%>

    <div class="wall container"> 
    <h3 class="center wall-title"> Доска объявлений </h3>
        <div class="row" id="row">
        </div>   

            
    </div>
<%-include('./layouts/footer.ejs');%>