 <%- include('./layouts/navbar.ejs')%>
    <div class="wall container"> 
        <div class="row">            
            <div class="col s6 m4">
                <h3 class="wall-title center"> Объявления </h3>
            </div>
            <div class="col s6 m6">
                    <div class="input-field col s6 m4">
                        <input type="number" placeholder="мин." name='min' id="min" value />
                    </div>
                    <div class="input-field col s6 m4">
                        <input id="max" type="number" placeholder="макс." name='max' value />
                    </div>
                <div class="col s2 m2">
                    <button id="range">ОК</button> 
                </div>
            </div>
        </div>
        <div class="row" id="row"></div> 

         </div> 
    </div>
<%-include('./layouts/footer.ejs');%>