body{
     background: #f0f8ff;
}

.icons{
     margin-right: 0.5vh;
}
.faworites-block {
      display: inline;
      white-space:nowrap;
}
.menu-items{
     margin-top: 0.5vh;
}
.input-field{
     height: 1px;
}
.nav-wrapper{
     border-bottom: 2px solid rgb(218, 28, 28);
}
nav{

     background: white;
}
.warning{
     border: 2px solid #FF6163;
     padding: 6vh;
     margin-bottom:15vh; 
}

.label-icon{
     color:black;
}

.add-like:hover{
     cursor: pointer;
     color: rgb(218, 28, 28);
}
.page-footer{
     background: white;
     height: 8vh;
     box-shadow: 1px -1px 5px 1px rgba(0, 0, 0, .3);
     color:  #01AAFF;
     font-size: 18px;
     font-weight: bold;
     text-transform: uppercase;
}
.menu {
     background: rgb(24, 23, 23);
     padding: 2vh;
     height: 15vh;
     box-shadow: 1px 6px 8px 1px rgb(112, 107, 107);
}

.menu span{
     color: white;
     font-weight: bold;
}
.dropdown-content
{
   width: 30vh;
   margin-top:20vh;
}

.new-type{
     font-size: 20px;
     font-weight: bold;
}
.search{
     color:white; 
     width: 20px;  
}
input{
    
     color:rgb(0, 0, 0);   
     font-weight: bold;
}
.wall-title{
     font-weight: bold;
     font-size: 20px;
     text-transform: uppercase;
     margin-bottom:5vh;
     color: rgb(31, 29, 29);;
   
}
.favorite {
     border: 0;
     background: none;
     color: #fb88df;
}
.favorite:focus{
     color: red;
}
.adv-img{
     width:300px;
     height: 250px; 
}

.wall{
     margin-top: 20vh;
     margin-bottom: 5vh;
     background: white;
     border-radius: 1px;
     box-shadow: 1px 6px 6px 1px #ccc;
     padding: 2vh 1vh 0vh 1vh; 
     padding-bottom: 100px;
}
.image-logo{
     width: 200px;
     margin: 5% 0% 5% 0%;
}
nav ul li a{
     color: rgb(218, 28, 28);
     font-size:14px;
     font-weight: bold;
     text-transform: uppercase;
}

.price{
     font-weight: bold;
     font-size: 14px;

}
.title{
     font-size: 14px;
     font-weight: bold;
     text-transform: capitalize;
     text-align: justify;
}


#sort{
     margin-left: 1.5vh;
}

#range{
     position: relative;
     border:none;
     background: rgb(218, 28, 28);
     padding: 1vh 3vh 1vh 3vh;
     border-radius: 1px;
     cursor: pointer;
     color: rgb(255, 255, 255);
     font-weight: bold;
     text-transform: uppercase;
     margin-top: 4vh;
    
}
#range:hover{
     background: rgb(24, 23, 23);
     color: rgb(255, 255, 255);
}
input[type=number]::-webkit-inner-spin-button {
     -webkit-appearance: none;
}

.sidenav-trigger{
     color:black;
}


@media screen and (max-width: 1366px) {

     .adv-img{
          width:250px;
          height: 250px; 
     }
     .menu{
          height: 10vh;
     }
     .wall{
          margin-top: 15vh;
     }
     
     .img-main-background {
         background-image: none;
     }
     #range{
          margin-top: 1.5vh;
     }
}



@media screen and (max-width: 1024px) {
   
     .adv-img{
          width:250px;
          height: 250px; 
     }
     .menu{
          height: 12vh;
     }
     .wall{
          margin-top: 17vh;
     }
     
     .img-main-background {
         background-image: none;
     }
     #range{
          margin-top: 2vh;
     }
 }
 




@media screen and (max-width: 823px) {
   
     .adv-img{
          width:250px;
          height: 250px; 
     }
     .menu{
          height: 25vh;
     }
     .wall{
          margin-top: 30vh;
     }
     
     .img-main-background {
         background-image: none;
     }
     #range{
          margin-top: 8vh;
     }
 }
 

 @media screen and (max-width: 768px) {
   
     .adv-img{
          width:250px;
          height: 250px; 
     }
     .menu{
          height:10vh;
     }
     .wall{
          margin-top: 15vh;
     }
     
     .img-main-background {
         background-image: none;
     }
     #range{
          margin-top: 2vh;
     }
     .title{
          font-size: 12px;
     }
 }
 
 @media screen and (max-width: 767px) {

     .adv-img{
          width:250px;
          height: 250px; 
     }
     .menu{
          height: 22vh;
     }
     .wall{
          margin-top: 25vh;
     }
     .wall-title{
          font-size: 18px;
     }
     .img-main-background {
         background-image: none;
     }
     #range{
          margin-top: 8vh;
     }
 }

 @media screen and (max-width: 568px) {

     .adv-img{
          width:50px;
          height: 250px; 
     }
     .menu{
          height: 22vh;
     }
     .wall{
          margin-top: 25vh;
     }
     .wall-title{
          font-size: 18px;
     }
     .img-main-background {
         background-image: none;
     }
     #range{
          margin-top: 15vh;
     }
 }


 @media screen and (max-width: 320px) {

     .adv-img{
          width:250px;
          height: 250px; 
     }
     
     .menu{
          height: 35vh;
     }
     .wall{
          margin-top: 40vh;
     }
     .wall-title{
          font-size: 18px;
     }
     .img-main-background {
         background-image: none;
     }
     

     #range{
          margin-top: 8vh;
     }    
 }




 
 