body{
     background: #f0f8ff;
}

.icons{
     margin-right: 0.5vh;
}
.faworites-block {
      display: inline;
      white-space:nowrap;
}
.menu-items{
     margin-top: 0.5vh;
}
.input-field{
     height: 1px;
}
.nav-wrapper{
     border-bottom: 2px solid rgb(218, 28, 28);
}
nav{

     background: white;
}
.warning{
     border: 2px solid #FF6163;
     padding: 6vh;
     margin-bottom:15vh; 
}
.fa-globe-africa{
     font-size: 16px;
     color: #00AAFF;
}
.fa-star{
     color: #ebc634;
     font-size: 16px;
}
.fa-heart{
     color: #FF6163;
     font-size: 16px;  
}
.add-like{
     color: #cc509a;
    
}
.fa-money-bill-alt{
     font-size: 16px;   
     color: #97CF26;
}
.label-icon{
     color:black;
}

.add-like:hover{
     cursor: pointer;
     color: rgb(218, 28, 28);
}
.page-footer{
     background: white;
     height: 8vh;
     box-shadow: 1px -1px 5px 1px rgba(0, 0, 0, .3);
     color:  #01AAFF;
     font-size: 18px;
     font-weight: bold;
     text-transform: uppercase;
}
.menu {
     background: rgb(24, 23, 23);
     padding: 2vh;
     height: 15vh;
     box-shadow: 1px 6px 8px 1px rgb(112, 107, 107);
}

.menu span{
     color: white;
     font-weight: bold;
}
.dropdown-content
{
   width: 30vh;
   margin-top:20vh;
}

.new-type{
     font-size: 20px;
     font-weight: bold;
}
.search{
     color:white; 
     width: 20px;  
}
input{
    
     color:rgb(0, 0, 0);   
     font-weight: bold;
}
.wall-title{
     font-weight: bold;
     font-size: 20px;
     text-transform: uppercase;
     margin-bottom:5vh;
     color: rgb(31, 29, 29);;
   
}
.favorite {
     border: 0;
     background: none;
}
.adv-img{
     width:300px;
     height: 250px; 
}

.wall{
     margin-top: 20vh;
     margin-bottom: 5vh;
     background: white;
     border-radius: 1px;
     box-shadow: 1px 6px 6px 1px #ccc;
     padding: 2vh 1vh 0vh 1vh; 
     padding-bottom: 100px;
}
.image-logo{
     width: 200px;
     margin: 5% 0% 5% 0%;
}
nav ul li a{
     color: rgb(218, 28, 28);
     font-size:14px;
     font-weight: bold;
     text-transform: uppercase;
}

.price{
     font-weight: bold;
     font-size: 14px;

}
.title{
     font-size: 14px;
     font-weight: bold;
     text-transform: capitalize;
}


#sort{
     margin-left: 1.5vh;
}

#range{
     border:none;
     background: rgb(218, 28, 28);
     padding: 1vh 3vh 1vh 3vh;
     border-radius: 1px;
     cursor: pointer;
     color: rgb(255, 255, 255);
     font-weight: bold;
     text-transform: uppercase;
     margin-top: 5vh;
}
#range:hover{
     background: rgb(24, 23, 23);
     color: rgb(255, 255, 255);
}
input[type=number]::-webkit-inner-spin-button {
     -webkit-appearance: none;
}

.sidenav-trigger{
     color:black;
}



@media screen and (max-width: 640px) {
     /*   .brand-logo__link {
       left: 20% !important;
   
     } */
     .adv-img{
          width:250px;
          height: 250px; 
     }
     .menu{
          height: 25vh;
     }
     .wall{
          margin-top: 30vh;
     }
     
     .img-main-background {
         background-image: none;
     }
 }
 
 @media screen and (max-width: 568px) {
     /*   .brand-logo__link {
       left: 20% !important;
   
     } */
     .adv-img{
          width:250px;
          height: 250px; 
     }
     .menu{
          height: 22vh;
     }
     .wall{
          margin-top: 25vh;
     }
     .wall-title{
          font-size: 18px;
     }
     .img-main-background {
         background-image: none;
     }
 }

 
 